* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #4FB1C1, #b0e0e6, #ffffff);
    min-height: 100hv;
    font-family: Arial, sans-serif;
    text-align: center;
}


h1, h2 {
    font-size: 40px;
    margin: 10px 0 20px 0;
    color: #333, #ffffff;
}

h1 {
    margin-top: 30px;
}

h2 {
    margin-top: 50px;
}

.section {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.lista {
    font-size: 22px;
    align-self: flex-start;
    text-align: left;
}


.cards {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}


.cards a {
    display: inline-block;
}


.cards img {
    width: 200px;   
    height: 290px;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: 0.3s;
}


.cards img:hover {
    transform: scale(1.3) translateY(-5px);
}

.card-wrapper {
    background: white;
    border-radius: 14px;
    padding: 10px;
    width: 220px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.card-wrapper:hover {
    transform: translateY(-8px);
}

.card {
    text-align: center;
    max-width: 280px;
}


.card h3 {
    color: #121212;
    margin-top: 8px;
    font-size: 18px;
}


.card p {
    color: #ffd700;
    font-size: 16px;
}


#search {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

#darkModeBtn,
#favPageBtn {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #eee;
    background: #1f1f1f;
    font-weight: bold;
    transition: 0.2s;
}

body.dark {
    background: #121212;
    color: #ffffff;
}

#darkModeBtn:hover,
#favPageBtn:hover {
    color: #1f1f1f;
    background: #eee;
    transform: scale(1.05);
}

body.dark .card {
    background-color: #1f1f1f;
}


body.dark input {
    background-color: #2a2a2a;
    color: white;
    border: none;
}

body.dark .card-wrapper {
    background: #1f1f1f;
}

.card-link {
    text-decoration: none;
    color: inherit;
    text-align: center; 
}

.card-link img {
    width: 200px;
    height: 290px;
    object-fit: cover;
    border-radius: 12px;
}

.card-link h3 {
    margin-top: 8px 0 4px 0;
}

.card-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.card-info p {
    margin: 0;
    color: gold;
    font-size: 16px;
}

.body.dark .top-bar{
    background: rgba(30, 30, 30, 0.8);
}

body.dark #favPageBtn {
    background: #2a2a2a;
    color: white;
}

#backBtn {
    margin: 50px;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #eee;
    font-weight: bold;
}

body.dark #backBtn {
    background: #2a2a2a;
    color: white;
}

.favBtn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: red;
    transition: 0.2s;
}    

.favBtn:hover {
    transform: scale(1.2);
}

.top-bar {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto 15px auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.left-buttons {
    display: flex;
    gap: 10px;
}

#search {
    max-width: 260px;
    margin: 0;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

#search:focus {
    border-color: #3498db;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 20px 0 30px 0;
    font-size: 42px;
    font-weight: bold;
}  

@media (max-width: 768px) {
    
    h1, h2 {
        font-size: 28px;
    }


    .section {
        width: 100%;
        padding: 0 15px;
    }


    .lista {
        font-size: 18px;
        align-self: center; 
        text-align: left;
    }


    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .cards a {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .cards img {
        width: 90%;
        max-width: 240px;
        height: 260px;
        object-fit: cover;
        border-radius: 14px;
    }



    .cards a:nth-child(1) img,
    .cards a:nth-child(2) img,
    .cards a:nth-child(3) img {
        height: 360px;
    }


    .cards img:hover {
        transform: none;
    }

}