* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #B0E0E6;
    font-family: Arial, sans-serif;
    text-align: center;
}


h1, h2 {
    font-size: 40px;
    margin: 25px 0;
    color: #333;
}


h2 {
    margin-top: 50px;
}


.section {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.lista {
    font-size: 22px;
    align-self: flex-start;
    text-align: left;
}


.cards {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}


.cards a {
    display: inline-block;
}


.cards img {
    width: 200px;   
    height: auto;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: 0.3s;
}


.cards img:hover {
    transform: scale(1.3) translateY(-5px);
}


.cards a:nth-child(1) img {
    height: 290px;
}


.cards a:nth-child(2) img {
    height: 260px;
}


.cards a:nth-child(3) img {
    height: 230px;
}


.card {
    text-align: center;
    max-width: 280px;
}


.card h3 {
    margin-top: 8px;
    font-size: 18px;
}


.card p {
    color: #ffd700;
    font-size: 16px;
}


#search {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}


#darkModeBtn {
    margin: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #eee;
    font-weight: bold;
}


body.dark {
    background-color: #121212;
    color: #ffffff;
}


body.dark .card {
    background-color: #1f1f1f;
}


body.dark input {
    background-color: #2a2a2a;
    color: white;
    border: none;
}



.favBtn {
    background-color: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-top: 8px;
}


@media (max-width: 768px) {
    
    h1, h2 {
        font-size: 28px;
    }


    .section {
        width: 100%;
        padding: 0 15px;
    }


    .lista {
        font-size: 18px;
        align-self: center; 
        text-align: left;
    }


    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .cards a {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .cards img {
        width: 90%;
        max-width: 240px;
        height: 260px;
        object-fit: cover;
        border-radius: 14px;
    }



    .cards a:nth-child(1) img,
    .cards a:nth-child(2) img,
    .cards a:nth-child(3) img {
        height: 360px;
    }


    .cards img:hover {
        transform: none;
    }

}